.signin{
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}

.signin h1{
    padding: 5px 0px;
    font-weight: 600;
    text-align: start;
}

.signin_head{
    width: 400px;
}

.signin_head p{
    color: gray;
    font-size: 18px;
    padding: 10px 0px;
}

.signin form{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    width: 500px;
}

.signin .email input,.password input{
    width: 450px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 240, 240);
    outline: none;
    transition: all 0.3s;
}

.signin .signup{
    font-size: 20px;
    margin: 15px 0px;
    color: rgb(48, 47, 47);
}

.forgot_password{
    text-align: right;
    text-decoration: none;
    margin-right: 20px;
}

.forgot_password:hover{
    text-decoration: underline;
}

.signup span{
    color: #0000FF;
    text-decoration: none;
}


.signin button{
    color: white;
    text-transform: uppercase;
    padding:20px 15px;
    width: 500px;
    margin:30px 15px 0px 0px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: 	#19198B;
    border-radius: 10px;
    transition: opacity 0.3s ease-out;
}

button:hover{
    opacity: 0.7;
}

@media (max-width:600px) {

    .signin {
        margin: 20px auto;
        width: 280px;
    }

    .signin_head {
        width: auto;
    }

    .signin form {
        width: 100%;
        margin: 0 auto;
    }

    .signin h1 {
        font-size: 25px;
    }

    .signin p {
        width: 80%;
        font-size: 13px;
    }

    .signin h1,p {
        text-align: left;
        margin-left: 30px;
    }

    .forgot_password {
        font-size: 15px;
        margin-right: 20px;
    }

    .signin .email input,.password input {
        width: 290px;
        font-size: 16px;
        margin: 15px 20px;
    }

    .signin button {
        width: 340px;
        font-size: 18px;
        border-radius: 5px;
        margin: 15px;
        padding: 15px 10px;
    }

    .signin .signup {
        font-size: 15px;
        margin: 10px 20px;
    }
}
