.reset_password{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70vh;
   width: 100%;
}

.reset_password h1{
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 500;
    color: grey;
}

.resetPassword_email{
    height: 320px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.resetPassword_email form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
}

.resetPassword_email input{
    width: 350px;
    padding: 20px;
    margin: 20px 0px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 240, 240);
    outline: none;
    transition: all 0.3s;
}

.resetPassword_email p{
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0px;
}

.resetPassword_button{
    color: white;
    text-transform: uppercase;
    padding:20px;
    width: 400px;
    margin:10px 0px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: 	#34b476;
    border-radius: 10px;
    transition: opacity 0.3s ease-out;
}

.resetPassword_password{
    width: 500px;
    height: 320px;
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resetPassword_password p{
     font-size: 25px;
     font-weight: 400;
     margin: 10px 0px;
}

.otp_field{
    margin: 0px;
}

.otp_field input{
    width: 15px;
    height: 20px;
    padding: 15px;
    border: 0.5px solid gray;
    margin: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
}

.new_password{
    height: 80vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new_password p{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.new_password form{
    flex-direction: column;
    align-items: center;
}

.new_password form input{
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 240, 240);
    outline: none;
    transition: all 0.3s;
}

@media (max-width:600px) {
    .reset_password {
        width: 100%;
    }

    .reset_password h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .resetPassword_email form {
        display: flex;
        justify-content: start;
        width: 80%;
    }


    .resetPassword_email {
        width: 88%;
    }

    .resetPassword_email input {
        width: 89%;
        padding: 15px;
        font-size: 18px;
        margin: 15px 0px;
    }

    .resetPassword_email p {
        font-size: 20px;
        margin: 15px 0px;
    }

    .resetPassword_button {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        margin: 5px 0px;
    }

    .resetPassword_password {
        width: 80%;
    }

    .resetPassword_password p {
        font-size: 18px;
        margin-left: 25px;
    }

    .otp_field input {
        width: 10px;
        height: 15px;
        padding: 10px;
        margin: 5px;
        font-size: 20px;
    }

    .resetPassword_password button {
        width: 85%;
    }

    .new_password {
        width: 90%;
        height: 75%;
    }

    .new_password p {
        font-size: 25px;
        margin: 0px 0px 25px 0px;
    }

    .new_password form input{
        width: 88%;
        margin-bottom: 15px;
        padding: 15px;
        font-size: 18px;
    }

}