.get_transaction_left_side{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 90vh;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.get_transaction_left_side form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.choose_payment_method_container{
    display: flex;
    padding: 10px;
}

.choose_payment_method{
    display: flex;
    margin: 10px;
}

.choose_category_container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.choose_category{
    margin: 10px;
}

.choose_payment_type_container{
    display: flex;
    padding: 10px;
}

.choose_payment_type{
    margin: 10px;
}

.choose_filter_date_container{
    display: flex;
    padding: 10px;
}

.choose_date{
    margin:10px 20px;
}

.choose_date input{
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.choose_filter_amount{
    padding-bottom: 20px;
}

.choose_amount_container{
    display: flex;
    padding: 10px;
}

.choose_amount{
    margin: 10px 20px;
}

.choose_amount input{
    border: none;
    padding-top: 20px;
    width: 170px;
    font-size: 20px;
    outline: none;
    border-bottom: 1px solid black;
}

.get_transaction_left_side .radio{
    display: flex;
    align-items: center;
}

.section{
    margin-bottom: 20px;
}

.get_transaction_left_side .find_transaction{
    background-color: #0000ff;
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
}

@media (max-width:600px) {
    .get_transaction_left_side {
        border-right: none;
        width: 89%;
        height: auto;
    }

    .get_transaction_left_side p {
        font-size: 25px;
        margin: 0;
    }

    .get_transaction_left_side form {
        margin: 0%;
        padding: 0%;
    }
    
    .choose_payment_method.section,
    .choose_payment_type.section,
    .choose_category.section {
        width: 70%;
    }

    .choose_amount input {
        width: 150px;
    }

    .choose_filter_date.section {
        width: 90%;
    }

    .choose_date {
        width: 50%;
        margin: 0%;
    }

    .choose_date p{
        font-size: 18px;
    }
    
    .choose_date input {
        font-size: 15px;
        width: 110px;
    }

    .choose_filter_amount.section {
        width: 90%;
    }

    .choose_amount {
        width: 50%;
        margin: 0%;
    }

    .choose_amount p {
        font-size: 18px;
    }

    .choose_amount input {
        font-size: 15px;
        width: 100px;
    }

    .get_transaction_left_side .find_transaction {
        padding: 15px 0px;
        font-size: 18px;
        width: 300px;
        border-radius: 5px;
        margin: 0 auto;
    }
}


@media (min-width:601px) and (max-width:1023px) {
    
    .get_transaction_left_side {
        border-right: none;
        width: 95%;
        height: auto;
    }

    .get_transaction_left_side .title {
        text-align: center;
    }

    .choose_payment_method_container,
    .choose_category_container,
    .choose_payment_type_container,
    .choose_filter_date_container,
    .choose_amount_container {
        margin-left:20% ;
        justify-content: start;
    }

    .choose_payment_method.section,
    .choose_payment_type.section,
    .choose_category.section,
    .choose_filter_date.section,
    .choose_filter_amount.section {
        width: 90%;
    }

    .choose_payment_method.section span,
    .choose_payment_type.section span ,
    .choose_category.section span,
    .choose_filter_date.section span,
    .choose_filter_amount.section span {
        margin-left: 20%;
    }

    .get_transaction_left_side .find_transaction{
        background-color: #0000ff;
        padding: 15px 25px;
        font-size: 20px;
        width: 60%;
        margin: 0 auto;
        color: white;
        border: none;
        border-radius: 10px;
    }
}