.transaction_item_container{
    display: flex;
    flex-wrap: wrap;
}

.transaction_items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 530px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.transaction_values{
    font-size: 20px;  
}

.transaction_item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.transaction_item:last-child{
    border: none;
}

.transaction_item .key{
    color: grey;
    margin-bottom: 10px;
}

.transaction_item .value { 
 color: #000;
}

.actions a:nth-child(1){
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.actions a:nth-child(2){
    background-color: red;
    padding: 10px 15px;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 5px; 
    text-decoration: none; 
}

@media (max-width:600px) {
    .transaction_items {
        width: 300px;
        margin: 20px 0px;
    }

    .actions a:nth-child(1){
        width: 100px;
        padding: 10px 0px;
    }
    .actions a:nth-child(2){
        width: 100px;
        padding: 10px 0px;
    }
}