.get_transaction_right_side{
    display: flex;
    padding: 20px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: slategray;
    margin-bottom: 20px;    
}

@media (max-width:600px) {

    .get_transaction_right_side .title {
        margin: 20px 0px;
        text-align: center;
    }
    .get_transaction_right_side {
        width: auto;
        padding: 0;
    }

    .all_transaction {
        width: 100%;
    }
}