.navbar{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 80px;
    color: #FFFFFF;
    background-color: #34B476;
    position: relative;
    z-index: 3;
}

.navbar .logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}

.menubar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
}

.menubar a {
    color: #FFFFFF;
    text-decoration: none;
}

.menubar ul img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: fill;
}

.menubar ul li{
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    margin-right: 30px;
}

.menubar ul li:hover{
   text-decoration: underline;
}

.menubar .account_manage ul{
    display: none;
    background-color: #34B476;
    color: #FFFFFF;
    position: absolute;
    top: 100%;
    left:-10%;
    padding:10px 20px;
    width: 150px;
    list-style: none;
    border-radius: 5px;
}

.account_manage li{
    width: 100px;
    color: #FFFFFF;
}

.menubar li:hover .account_manage ul{
    display: block;
}

.account_manage ul li:hover{
  text-decoration: underline;
  color: white;
}

@media (max-width:800px){

    .navbar{
        padding:0px 20px;
        width: 100%;
    }
    .navbar h1{
        font-size: 25px;
    }


    .menubar {
        width: 80px;
    }

     .menubar .account_manage ul{
        display: none;
        background-color: #34B476;
        position: absolute;
        top: 100%;
        left:-90%;
        padding:10px 20px;
        width: 130px;
        list-style: none;
        border-radius: 5px;
    }

    .menubar ul .home_btn{
        display: none;
    }
}




