.get_transaction{
    height: 100vh;
    display: flex;
}

.get_transaction span{
    color: gray;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: slategray;
    margin-bottom: 20px;    
}

@media (max-width:600px) {
    .get_transaction {
        flex-direction: column;
        width: auto;
        margin: 0;
    }
}


